<body>
  <div class="container">
    <!-- Tarjeta de Bienvenida -->
    <mat-card>
      <!-- Logo y Título de Bienvenida -->
      <div class="col text-center">
        <img class="logo" src="/assets/carousel/logo2.png" alt="Logo circular" />
        <h2>BIENVENIDO</h2>
      </div>

      <!-- Contenido de la Tarjeta: Formulario de Inicio de Sesión -->
      <mat-card-content>
        <form>
          <!-- Campo de Email -->
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="email@credicar.com" id="email" name="email" [(ngModel)]="email" spellcheck="false" required>
          </mat-form-field>

          <!-- Campo de Contraseña -->
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" id="password" placeholder="password" name="password" [(ngModel)]="password" spellcheck="false" required>
          </mat-form-field>

          <!-- Botones de Acción -->
          <div class="d-flex justify-content-between">
            <button mat-flat-button type="submit" (click)="login()" class="mr-2">Ingresar</button>
            <button mat-flat-button routerLink="/accounts/register" routerLinkActive="active" type="button" class="ml-2">Registrate</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Mensaje de Error -->
  <div #invalidMessage class="invalid-message" *ngIf="showInvalidMessage" [@fadeInOut]>Datos inválidos</div>
</body>
