@media (min-width: 1200px) {
  .container {
    max-width: 650px;
  }
}

mat-card-title {
  position: relative;
  text-align: center;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  margin-top: 8rem;

}

.register-bg {
  background-image: url('/src/assets/carousel/logo.png');
  background-size: cover;
  background-position: center;
}

.logo {
  position: absolute;
  top: -800%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;

}

mat-card-content {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




/* Estilos para el botón "Ingresar" */
button[type="submit"] {
  background-color: #000000; /* Color de fondo cuando no se pasa el cursor */
  color: #ffffff; /* Color del texto cuando no se pasa el cursor */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}

button[type="submit"]:hover {
  background-color: #7e0000; /* Color de fondo al pasar el cursor */
  color: #ffffff; /* Color del texto al pasar el cursor */
}

/* Estilos para el botón "Registrarse" */
button[type="button"] {
  background-color: #ffffff; /* Color de fondo cuando no se pasa el cursor */
  color: #000000; /* Color del texto cuando no se pasa el cursor */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}

button[type="button"]:hover {
  background-color: #ffffff; /* Color de fondo al pasar el cursor */
  color: #000000; /* Color del texto al pasar el cursor */
}

.d-flex {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.vh-100 {
  height: 100vh; /* Hace que el contenedor ocupe el 100% del alto de la ventana */
}

body {
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el relleno predeterminado del body */
  background-image: url('src/assets/carousel/carro2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
