/* Importar fuentes de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

/* Estilos generales */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Resetear estilos por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el body */
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background: #F4F7FA;
}
  /* Estilos para la tarjeta (.card) */
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 0.25rem 0.5rem #e6edef;
    color: #495057;
  
  }
  
  
  /* Estilos para la cabecera de la tarjeta (.card-head) */
  .card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
  
  }
  
  /* Estilos para el cuerpo de la tarjeta (.card-body) */
  .card-body {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  /* Estilos para el contenedor de botones (.button-container) */
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
  
  }
  
  /* Estilos para los botones (.button) */
  .button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    transition: background-color 0.07s ease-in-out, color 0.05s ease-in-out;
    box-shadow: 0 0.25rem 0.5rem #e6edef;
  
  }
  
  /* Estilos para el botón de aceptar (.accept) */
  .button.accept {
    background-color: #212121;
  }
  
  /* Estilos para el botón de cancelar (.cancel) */
  .button.cancel {
    background-color: #b71c1c;
    margin-left: 10px;
  }
  
  /* Estilos para el separador (.separate) */
  .separate {
    margin-left: 2rem;
  }
  
  /* Estilos para el texto con sombra (.tshadow) */
  .tshadow {
    text-shadow: 0px 4px 7px black;
  }
  
  /* Estilos para el contenedor de búsqueda (.search-container) */
  .search-container {
    position: relative;
  }
  
  /* Estilos para la barra de búsqueda normal (.normal-search) */
  .normal-search .search {
    border: none;
    height: 2.375rem;
    padding-left: 2.5rem;
    padding-right: 1.25rem;
    background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 1.875rem;
    outline: 0;
  }
  
  /* Estilos para el ícono de búsqueda (.search-icon) */
  .normal-search .search-icon {
    position: absolute;
    font-size: 1rem;
    line-height: 2.375rem;
    left: 0.813rem;
    top: 0;
    color: #000000;
  }
  
  /* Estilos para el botón del menú de búsqueda (.search-menu-btn) */
  .search-menu-btn {
    font-size: 18px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    outline: 0;
  }
  
  /* Estilos para el botón del menú de búsqueda al pasar el mouse o enfocar (.search-menu-btn:hover, .search-menu-btn:focus) */
  .search-menu-btn:hover, .search-menu-btn:focus {
    .search-icon {
      color: #699dfa;
    }
  }
  